body{
    margin: 0px 0px;

}
/* Navbar start */
#navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: whitesmoke;
    margin: 0px 0px;
}
#navbar div{
    padding: 10px 40px;

}

#navbar li:hover{
background-color: blue;
border-radius: 10px;
}
#navitem2 a{
    color: whitesmoke;
    text-decoration: none;
}
#navitem3{
    margin-left: auto;
} 
#navitem3 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 0px;
}
#navitem3 li{
    padding: 5px 0px;
}
#navitem3 a {
    margin: 0px 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: large;
    color: whitesmoke;
} 
/* homepart1 start  */
#homepart1 {
    border: 2px solid;
    height: auto;
    position: relative;
    /* margin-top: -80px; */
    padding-bottom: 150px;
    color: rgb(21, 1, 1);
    background: transparent;
}
#homepart1 h1{
text-align: center;
padding-top: 80px;
font-size: 50px;
}
#homepart1 p{
    text-align: center;
    width: 50%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
}
#homepart1::before{
    background: url(part1bg.jpg) no-repeat center/cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.80;

}
/* Homepart2 start  */
#homepart2 h1{
text-align: center;
font-size: 40px;
margin: 40px 0px;
padding-top: 20px;
}
.dancetype{
    border: 2px solid;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(235, 208, 173);
    border-radius: 40px;
    padding: 20px 0px;
    /* width: 90%; */

}
@media (max-width-1000px){

}
.dancetype img{
    width: 500px;
    margin: 0px 40px;
    box-shadow: 2px 2px 5px;
}
.dancedesc{
    margin: auto auto;
    width: 40%;
}
.dancedesc h4{
    font-size: 25px;
    
}
.dancedesc p{
    font-size: large;
    text-align: left;
}

/* Footer start */
footer{
    display: flex;
    background-color: black;
    color: whitesmoke;
    padding: 20px 0px;
}
.footer p{
    margin-left: 50px;
}
footer .icon{
    margin: auto 20px;
    margin-left: auto;
}
.icon i{
    margin: 0px 5px;
}
a{
    font-size: medium;
}